<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><img src="assets/image/LOGO4.png" alt="tt"></a>
    <header class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/task-status">Tasks Status</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/task-category">Tasks Category</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/task-category/personal">Personal</a></li>
            <li><a class="dropdown-item" routerLink="/task-category/work">Work</a></li>
          </ul>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control w-auto" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </header>
  </div>
</nav>

<div class="container1-fluid  p-2 m-2">
  <h1 class="text-center">Welcome to My To-Do-List Manager
  </h1>
</div>
