<div class="row">
  <h1>Tasks Status</h1>
  <div class="col-xs-12">
    <button class="btn btn-outline-danger">Incomplete</button>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-outline-info">In-Progress</button>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-outline-success">Completed</button>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-xs-12">-->
<!--&lt;!&ndash;      <app-status></app-status>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
</div>
